node_modules
.next
out
.env
.env.local
prisma/dev.db
prisma/dev.db-journal
prisma/test.db
prisma/test.db-journal
public/uploads/*
!public/uploads/.gitkeep
storage/*
!storage/.gitkeep
*.log
.DS_Store
*.tsbuildinfo
